<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <!-- form card login -->
                <div class="col-12 col-lg-3 p-5 bg-primary white-font loginsidebar">
                    <div class="row  h-100 justify-content-center align-items-center">
                        <h2 class="brandlogo">Welcome to <br>Match-Maker Matrimony </h2>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="row  h-100 justify-content-center align-items-center">
                        <div [ngClass]="{'col-lg-6': toggleLoginReg, 'col-lg-8': !toggleLoginReg }"
                            class="col-12 col-lg-8 p-5  min-vh-100 d-flex flex-column justify-content-center">
                            <form class="form" [formGroup]="loginForm" (ngSubmit)="loginSubmit()" *ngIf="toggleLoginReg"
                                role="form" autocomplete="off" id="formLogin">
                                <h2 class="text-center my-5 ">Sign in</h2>
                                <p> <i id="emailHelp" *ngIf="loginvalidation" class="form-text text-danger">Enter valid
                                        user name and
                                        Password</i></p>
                                <div class="form-group">
                                    <label for="uname1">Phone Number<b class="text-danger">*</b></label>
                                    <input type="text" formControlName="username"
                                        [ngClass]="{'is-invalid': loginForm?.controls?.username?.touched && loginForm?.controls?.username?.invalid}"
                                        class="form-control" name="uname1" id="uname1">
                                    <div class="invalid-feedback">
                                        <span *ngIf="loginForm?.controls?.username?.errors?.required">Please enter
                                            correct phone number</span> </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd1">Password<b class="text-danger">*</b></label>
                                    <input type="password" formControlName="password"
                                        [ngClass]="{'is-invalid': loginForm?.controls?.password?.touched && loginForm?.controls?.password?.invalid}"
                                        class="form-control " id="pwd1" autocomplete="new-password">
                                    <div class="invalid-feedback">
                                        <span *ngIf="loginForm?.controls?.password?.errors?.required">Enter your
                                            password too!</span> </div>
                                </div>
                                <div class="form-group clearfix">
                                    <button [disabled]="loginForm.invalid" class="btn btn-primary btn-block float-right"
                                        id="btnLogin">Sign in <i this.loginSpin=false; class="fa fa-refresh fa-spin"
                                            *ngIf="loginSpin"></i></button>
                                </div>
                                <div class="form-group clearfix">
                                    <p class="btn register"> <i>Don't have an account?
                                            <b><a href="javascript:void(0)" (click)="toggleForm()">Register</a></b></i>
                                    </p>
                                </div>
                            </form>
                            <div class="col" *ngIf="regResponse?.statusCode === 200">
                                <p class="text-success">{{regResponse?.message}}</p>
                                <p class="text-success">Your Matrimony Id is: {{regResponse?.matrimonyId}}</p>
                                <a href="#" class="btn btn-primary" (click)="toggleLoginReg = !toggleLoginReg">Login</a>
                            </div>
                            <div *ngIf="!regResponse?.statusCode">
                                <form class="needs-validation" [formGroup]="registerForm" *ngIf="!toggleLoginReg">
                                    <h2 class="text-center mb-5">User Registration</h2>
                                    <div class="form-row mb-3"> <small><span>Fields marked with <span
                                                    class="text-danger">*</span> are compulsary
                                                for Registration</span></small></div>
                                    <div class="form-row">
                                        <div class="col-md-3 mb-3"> <label for="validationCustom02">Gender<b
                                                    class="text-danger">*</b></label>

                                            <select formControlName="genter" id="inputState"
                                                [ngClass]="{'is-invalid': registerForm?.controls?.genter?.touched && registerForm?.controls?.genter?.invalid}"
                                                class="form-control">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                <span *ngIf="registerForm?.controls?.genter?.errors?.required">Please
                                                    select
                                                    Gender.</span></div>

                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label for="validationCustom01">Name<b class="text-danger">*</b></label>
                                            <input type="text" class="form-control" formControlName="name"
                                                [ngClass]="{'is-invalid': registerForm?.controls?.name?.touched && registerForm?.controls?.name?.invalid}"
                                                id="validationCustom01" placeholder="First name">
                                            <div class="invalid-feedback">
                                                <span *ngIf="registerForm?.controls?.name?.errors?.required">Please
                                                    enter
                                                    correct Name.</span></div>
                                        </div>

                                        <div class="col-md-4 mb-3">
                                            <label for="validationCustomUsername">Email Address<b
                                                    class="text-danger">*</b></label>
                                            <div class="input-group">

                                                <input formControlName="emailAddress" type="text"
                                                    [ngClass]="{'is-invalid': registerForm?.controls?.emailAddress?.touched && registerForm?.controls?.emailAddress?.invalid}"
                                                    class="form-control" id="validationCustomUsername"
                                                    placeholder="John@gmail.com" aria-describedby="inputGroupPrepend">
                                                <div class="invalid-feedback">
                                                    <span
                                                        *ngIf="registerForm?.controls?.emailAddress?.errors?.required">Please
                                                        enter correct Email Address.</span></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom03">User Id<b class="text-danger">*</b></label>
                                            <input formControlName="phoneNumber" type="text"
                                                [ngClass]="{'is-invalid': registerForm?.controls?.phoneNumber?.touched && registerForm?.controls?.phoneNumber?.invalid}"
                                                class="form-control" id="validationCustom03" placeholder="PhoneNumber"
                                                required>
                                            <div class="invalid-feedback">
                                                <span *ngIf="registerForm?.controls?.phoneNumber?.errors">Please
                                                    enter correct Phone Number.</span></div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationCustom04">City<b class="text-danger">*</b></label>
                                            <select formControlName="city" id="inputState"
                                                [ngClass]="{'is-invalid': registerForm?.controls?.city?.touched && registerForm?.controls?.city?.invalid}"
                                                class="form-control">
                                                <option value="bangalore">Bangalore</option>
                                                <option value="chennai">Chennai</option>
                                                <option value="hyderabad">Hyderabad</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                <span *ngIf="registerForm?.controls?.city?.errors?.required">Please
                                                    select
                                                    correct city.</span></div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationCustom05">Date of birth<b
                                                    class="text-danger">*</b></label>
                                            <p-calendar [styleClass]="'prime-calendar form-control'"
                                                formControlName="dob"
                                                [ngClass]="{'is-invalid': registerForm?.controls?.dob?.touched && registerForm?.controls?.dob?.invalid}"
                                                [monthNavigator]="true" [dateFormat]="dd/MM/yyyy" [yearNavigator]="true"
                                                yearRange="1920:2001">
                                            </p-calendar>

                                            <div class="invalid-feedback">
                                                <span *ngIf="registerForm?.controls?.dob?.errors?.required">Please
                                                    select
                                                    correct Date of birth.</span></div>
                                            <div class="invalid-feedback">
                                                <span *ngIf="registerForm?.controls?.dob?.errors?.validatedob">User
                                                    should be 18 years and above for Registration</span></div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom03">Education Details<b
                                                    class="text-danger">*</b></label>
                                            <select formControlName="educationDetails" id="inputState"
                                                [ngClass]="{'is-invalid': registerForm?.controls?.educationDetails?.touched && registerForm?.controls?.educationDetails?.invalid}"
                                                class="form-control">
                                                <option value="BE">B.E</option>
                                                <option value="BCOM">B.Com</option>
                                                <option value="MBBS">MBBS</option>
                                                <option value="Cricketer">CRICKETER</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                <span
                                                    *ngIf="registerForm?.controls?.educationDetails?.errors?.required">Please
                                                    select correct Education details</span></div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationCustom04">Anual Income<b
                                                    class="text-danger">*</b></label>
                                            <input formControlName="annualIncome" type="text" class="form-control"
                                                [ngClass]="{'is-invalid': registerForm?.controls?.annualIncome?.touched && registerForm?.controls?.annualIncome?.invalid}"
                                                id="validationCustom04" placeholder="10000" required>
                                            <div class="invalid-feedback">
                                                <span
                                                    *ngIf="registerForm?.controls?.annualIncome?.errors?.required">Please
                                                    enter correct Income..</span></div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationCustom05">Marital Status<b
                                                    class="text-danger">*</b></label>
                                            <select formControlName="maritialStatus" id="inputState"
                                                [ngClass]="{'is-invalid': registerForm?.controls?.maritialStatus?.touched && registerForm?.controls?.maritialStatus?.invalid}"
                                                class="form-control">

                                                <option [value]="item" *ngFor="let item of maritalStatus">{{item}}
                                                </option>


                                            </select>
                                            <div class="invalid-feedback">
                                                <span
                                                    *ngIf="registerForm?.controls?.maritialStatus?.errors?.required">Please
                                                    select correct Maritial Status..</span></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="unamer">About Me<b class="text-danger">*</b></label>
                                            <textarea formControlName="aboutMe" class="form-control"
                                                [ngClass]="{'is-invalid': registerForm?.controls?.aboutMe?.touched && registerForm?.controls?.aboutMe?.invalid}"></textarea>
                                            <div class="invalid-feedback">
                                                <span *ngIf="registerForm?.controls?.aboutMe?.errors?.required">Please
                                                    enter
                                                    about me details.</span></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="unamer">Profile Image<b class="text-danger">*</b></label>
                                            <textarea formControlName="imageUrl" class="form-control"
                                                [ngClass]="{'is-invalid': registerForm?.controls?.imageUrl?.touched && registerForm?.controls?.imageUrl?.invalid}"></textarea>
                                            <div class="invalid-feedback">
                                                <span *ngIf="registerForm?.controls?.imageUrl?.errors?.required">Please
                                                    provide your online profile image link .</span></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12 mb-3">
                                            <label for="password">Occupation</label>
                                            <select formControlName="occupationDetail" id="inputState"
                                                [ngClass]="{'is-invalid': registerForm?.controls?.occupationDetail?.touched && registerForm?.controls?.occupationDetail?.invalid}"
                                                class="form-control">
                                                <option value="Software">Software</option>
                                                <option value="Lawyer">Lawyer</option>
                                                <option value="Teacher">Teacher</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                <span
                                                    *ngIf="registerForm?.controls?.occupationDetail?.errors?.required">Please
                                                    select your Occupation.</span></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="password">Password</label>
                                            <input type="password" name="" class="form-control"
                                                formControlName="password" id="">
                                        </div>
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="password">Food Habit</label>
                                            <select formControlName="foodHabit" id="inputState"
                                                [ngClass]="{'is-invalid': registerForm?.controls?.foodHabit?.touched && registerForm?.controls?.foodHabit?.invalid}"
                                                class="form-control">
                                                <option [value]="item" *ngFor="let item of foodhabit">{{item}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">
                                                <span *ngIf="registerForm?.controls?.foodHabit?.errors?.required">Please
                                                    select correct Food habit..</span></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <h4>Partner Preference</h4>
                                            <div class="form-row">
                                                <div class="form-group col-md-6 mb-3">
                                                    <label for="password">Food Habit</label>
                                                    <select formControlName="partnerFood" id="inputState"
                                                        class="form-control">
                                                        <option [value]="item" *ngFor="let item of foodhabit">{{item}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6 mb-3">
                                                    <label for="password">City</label>
                                                    <select formControlName="partnerCity" id="inputState"
                                                        class="form-control">
                                                        <option [value]="item" *ngFor="let item of city">{{item}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6 mb-3">
                                                    <label for="password">Education</label>
                                                    <select formControlName="partnerEducation" id="inputState"
                                                        class="form-control">
                                                        <option value="BE">B.E</option>
                                                        <option value="BCOM">B.Com</option>
                                                        <option value="MBBS">MBBS</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6 mb-3">
                                                    <label for="password">Occupation</label>
                                                    <select formControlName="partnerOccupation" id="inputState"
                                                        class="form-control">
                                                        <option value="Software">Software</option>
                                                        <option value="Lawyer">Lawyer</option>
                                                        <option value="Teacher">Teacher</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <button class="btn btn-primary btn-block" type="submit"
                                                (click)="resetRegiserform()">Reset</button>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <button class="btn btn-primary btn-block" [disabled]="registerForm.invalid"
                                                (click)="registerFormSubmit()" type="submit">Register</button>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <p class="btn register"> <i>Already have an account?
                                                <b><a href="javascript:void(0)" (click)="toggleForm()">Sign
                                                        in</a></b></i></p>
                                    </div>



                                </form>
                            </div>
                        </div>

                    </div>


                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->