<nav class="navbar navbar-expand-lg d-none navbar-light bg-white header-border shadow d-flex">
    <a class="navbar-brand" href="#"><i class="fa fa-male" aria-hidden="true"></i><i class="fa fa-female"
            aria-hidden="true"></i><span> Match-Maker
            Matrimoney</span></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': showMobileMenu}" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="suserDetails">
                <a class="nav-link" href="javascript:void(0)" routerLinkActive="active"
                    [routerLink]="['/home/suggestedprofile']"> <i class="fa fa-free-code-camp" aria-hidden="true"></i>
                    <!-- <span class="rounded-circle alerts">
                        <span
                            class="numberofalerts">2</span>
                    </span> -->
                    Available Profile</a>
            </li>
            <li class="nav-item" *ngIf="suserDetails">
                <a class="nav-link" href="javascript:void(0)" routerLinkActive="active"
                    [routerLink]="['/home/myintrest']"> <i class="fa fa-free-code-camp" aria-hidden="true"></i>My
                    Intrest</a>
            </li>
            <!-- <li class="nav-item" *ngIf="suserDetails">
                <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/home/matches']"
                    routerLinkActive="router-link-active"> <i class="fa fa-superpowers" aria-hidden="true"></i><span
                        class="rounded-circle alerts"><span class="numberofalerts">2</span></span>Matches</a>
            </li> -->
            <li class="nav-item" *ngIf="suserDetails">
                <a class="nav-link" href="javascript:void(0)" (click)="op.toggle($event)"> <i
                        class="fa fa-user-circle fa-2" aria-hidden="true"></i>Profile</a>
            </li>
            <li class="nav-item" *ngIf="!suserDetails">
                <a class="nav-link" href="javascript:void(0)" [routerLink]="['/login']"><i class="fa fa-user-plus"
                        aria-hidden="true"></i>Login</a>
            </li>
        </ul>
    </div>
</nav>
<p-overlayPanel #op>

    <a class="dropdown-item" href="javascript:void()">You Signed in as</a>
    <a class="dropdown-item" href="javascript:void()"><b>{{suserDetails?.userName}}</b></a>

    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="javascript:void(0)" (click)="logOut()">LogOut</a>

</p-overlayPanel>