.nav-item .nav-link {
  color: #000;
}

.nav-item.active .nav-link {
  color: #28a745;
}

.secoundary-bar a.nav-link {
  color: #fff;
  padding: 0 1rem;
}

.header-border {
  border-bottom: 2px solid #28a745;
}
.navbar-brand span {
  color: #28a745;
}
