.card-img-top {
  background-color: #cccccc;
  height: 150px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  display: inline-block !important;
}
