/* You can add global styles to this file, and also import other style files */
.ing-bg {
  background-color: #f5f5f5;
}
.ing-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.ing-orange-bg {
  background-color: #f60;
}
.btn,
input {
  border-radius: 0px;
}

body,
html {
  height: 100%;
  /* font-family: "PT Sans", sans-serif; */
  /* font-weight: bold; */
}

body button .fa {
  color: #fff;
}
.alerts {
  border: 2px solid #f60;
  background: #f60;
  color: #fff;
  width: 15px;
  display: inline-block;
  padding: 0px;
  height: 15px;
}
.numberofalerts {
  font-size: 13px;
  position: relative;
  bottom: 8px;
  font-weight: bold;
  left: 2px;
}
